body {
    background-size: 100% 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#background {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 720px;
    height: 180px;
    background-color: #FFFFFF;
}
#left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 166px;
    height: 30px;
    background-color: #66CCFF;
}
#left select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0; 
    margin: auto;
    background-color: #66CCFF;
    color: #fff;
    font-size: 15px;
}

#middle {
    position: absolute;
    top: 10px;
    left: 160px;
    width: 0px;
    height: 0px;
    border-width: 15px;
    border-style: solid;
    border-color: #0099FF #0099FF #66CCFF #66CCFF;
}

#right {
    position: absolute;
    top: 10px;
    left: 190px;
    width: 540px;
    height: 30px;
    background-color: #0099FF;
}

video {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 180px;
    height: 110px;
}

#dowm {
    position: absolute;
    top: 160px;
    left: 10px;
    width: 180px;
    height: 30px;
    text-align: center;
    background-color: #FFFFFF;
}

#dowm span {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

iframe {
    position: absolute;
    top: 40px;
    left: 190px;
    width: 540px;
    height: 150px;
}