body {
    background-size: 100% 100%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 60px;
    background-color: #66CCFF;
    box-shadow: 5px 5px 10px #A8A8A8;
}
#left select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0; 
    margin: auto;
    background-color: #66CCFF;
    color: #fff;
    font-size: 30px;
}

#middle {
    position: absolute;
    top: 10px;
    left: 310px;
    width: 0px;
    height: 0px;
    border-width: 30px;
    border-style: solid;
    border-color: #0099FF #0099FF #66CCFF #66CCFF ;
    box-shadow: 5px 5px 10px #A8A8A8;
}

#right {
    position: absolute;
    top: 10px;
    left: 370px;
    width: 720px;
    height: 60px;
    background-color: #0099FF;
    box-shadow: 5px 5px 10px #A8A8A8;
}

video {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 360px;
    height: 220px;
}