body {
    background-size: 100% 100%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 30px;
    background-color: #66CCFF;
    box-shadow: 5px 5px 10px #A8A8A8;
}
#left select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #66CCFF;
    border: 0; 
    color:#fff;
}

#middle {
    position: absolute;
    top: 10px;
    left: 160px;
    width: 0px;
    height: 0px;
    border-width: 15px;
    border-style: solid;
    border-color: #0099FF #0099FF #66CCFF #66CCFF ;
    box-shadow: 5px 5px 10px #A8A8A8;
}

#right {
    position: absolute;
    top: 10px;
    left: 190px;
    width: 360px;
    height: 30px;
    background-color: #0099FF;
    box-shadow: 5px 5px 10px #A8A8A8;
}

video {
    position: absolute;
    top: 42px;
    left: 10px;
    width: 180px;
    height: 118px;
}